// imports
@import 'src/_var.scss'; // project variables
@import 'src/_bootstrap.scss'; // bootstrap
@import 'src/_wordpress.scss'; // wp classes
@import 'modules/_vertical-menu.scss'; // menu
@import 'src/_jquery.fancybox.scss'; // fancybox
@import 'src/_slick.scss'; // slick slider

// utilites
.centered{
	width: 100%;
	text-align: center;
}
.wrapper{
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	min-width: 980px;
}
.container{
	min-width: 980px;
}
.pagination{
	margin-bottom: 0;
}
.item{
	.img-block{
		position: relative;
		overflow: visible !important;
		.notin{
			position: absolute;
			background: #f00;
			padding: 7px 10px;
			bottom: 0;
			left: -15px;
			color: #fff;
			font-size: 15px;
		}
	}
}
.img-big{
	a{
		position: relative;
		overflow: visible !important;
		.notin{
			position: absolute;
			background: #f00;
			padding: 7px 10px;
			bottom: 0;
			left: 0px;
			color: #fff;
			font-size: 15px;
		}
	}
}