{
  "name": "furnistek.by",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "selectedPath": "",
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "scss/global.scss",
      "imports": [
        "scss/src/_var.scss",
        "scss/src/_bootstrap.scss",
        "scss/src/_wordpress.scss",
        "scss/modules/_vertical-menu.scss",
        "scss/src/_jquery.fancybox.scss",
        "scss/src/_slick.scss",
        "scss/src/bootstrap/_variables.scss",
        "scss/src/bootstrap/_mixins.scss",
        "scss/src/bootstrap/_normalize.scss",
        "scss/src/bootstrap/_print.scss",
        "scss/src/bootstrap/_glyphicons.scss",
        "scss/src/bootstrap/_scaffolding.scss",
        "scss/src/bootstrap/_type.scss",
        "scss/src/bootstrap/_code.scss",
        "scss/src/bootstrap/_grid.scss",
        "scss/src/bootstrap/_tables.scss",
        "scss/src/bootstrap/_forms.scss",
        "scss/src/bootstrap/_buttons.scss",
        "scss/src/bootstrap/_component-animations.scss",
        "scss/src/bootstrap/_dropdowns.scss",
        "scss/src/bootstrap/_button-groups.scss",
        "scss/src/bootstrap/_input-groups.scss",
        "scss/src/bootstrap/_navs.scss",
        "scss/src/bootstrap/_navbar.scss",
        "scss/src/bootstrap/_breadcrumbs.scss",
        "scss/src/bootstrap/_pagination.scss",
        "scss/src/bootstrap/_pager.scss",
        "scss/src/bootstrap/_labels.scss",
        "scss/src/bootstrap/_badges.scss",
        "scss/src/bootstrap/_jumbotron.scss",
        "scss/src/bootstrap/_thumbnails.scss",
        "scss/src/bootstrap/_alerts.scss",
        "scss/src/bootstrap/_progress-bars.scss",
        "scss/src/bootstrap/_media.scss",
        "scss/src/bootstrap/_list-group.scss",
        "scss/src/bootstrap/_panels.scss",
        "scss/src/bootstrap/_responsive-embed.scss",
        "scss/src/bootstrap/_wells.scss",
        "scss/src/bootstrap/_close.scss",
        "scss/src/bootstrap/_modals.scss",
        "scss/src/bootstrap/_tooltip.scss",
        "scss/src/bootstrap/_popovers.scss",
        "scss/src/bootstrap/_carousel.scss",
        "scss/src/bootstrap/_utilities.scss",
        "scss/src/bootstrap/_responsive-utilities.scss",
        "scss/src/bootstrap/mixins/_hide-text.scss",
        "scss/src/bootstrap/mixins/_opacity.scss",
        "scss/src/bootstrap/mixins/_image.scss",
        "scss/src/bootstrap/mixins/_labels.scss",
        "scss/src/bootstrap/mixins/_reset-filter.scss",
        "scss/src/bootstrap/mixins/_resize.scss",
        "scss/src/bootstrap/mixins/_responsive-visibility.scss",
        "scss/src/bootstrap/mixins/_size.scss",
        "scss/src/bootstrap/mixins/_tab-focus.scss",
        "scss/src/bootstrap/mixins/_reset-text.scss",
        "scss/src/bootstrap/mixins/_text-emphasis.scss",
        "scss/src/bootstrap/mixins/_text-overflow.scss",
        "scss/src/bootstrap/mixins/_vendor-prefixes.scss",
        "scss/src/bootstrap/mixins/_alerts.scss",
        "scss/src/bootstrap/mixins/_buttons.scss",
        "scss/src/bootstrap/mixins/_panels.scss",
        "scss/src/bootstrap/mixins/_pagination.scss",
        "scss/src/bootstrap/mixins/_list-group.scss",
        "scss/src/bootstrap/mixins/_nav-divider.scss",
        "scss/src/bootstrap/mixins/_forms.scss",
        "scss/src/bootstrap/mixins/_progress-bar.scss",
        "scss/src/bootstrap/mixins/_table-row.scss",
        "scss/src/bootstrap/mixins/_background-variant.scss",
        "scss/src/bootstrap/mixins/_border-radius.scss",
        "scss/src/bootstrap/mixins/_gradients.scss",
        "scss/src/bootstrap/mixins/_clearfix.scss",
        "scss/src/bootstrap/mixins/_center-block.scss",
        "scss/src/bootstrap/mixins/_nav-vertical-align.scss",
        "scss/src/bootstrap/mixins/_grid-framework.scss",
        "scss/src/bootstrap/mixins/_grid.scss"
      ]
    },
    {
      "path": "scss/style.scss",
      "imports": [
        "scss/src/_var.scss"
      ]
    },
    {
      "path": "scss/src/_bootstrap.scss",
      "imports": [
        "scss/src/bootstrap/_variables.scss",
        "scss/src/bootstrap/_mixins.scss",
        "scss/src/bootstrap/_normalize.scss",
        "scss/src/bootstrap/_print.scss",
        "scss/src/bootstrap/_glyphicons.scss",
        "scss/src/bootstrap/_scaffolding.scss",
        "scss/src/bootstrap/_type.scss",
        "scss/src/bootstrap/_code.scss",
        "scss/src/bootstrap/_grid.scss",
        "scss/src/bootstrap/_tables.scss",
        "scss/src/bootstrap/_forms.scss",
        "scss/src/bootstrap/_buttons.scss",
        "scss/src/bootstrap/_component-animations.scss",
        "scss/src/bootstrap/_dropdowns.scss",
        "scss/src/bootstrap/_button-groups.scss",
        "scss/src/bootstrap/_input-groups.scss",
        "scss/src/bootstrap/_navs.scss",
        "scss/src/bootstrap/_navbar.scss",
        "scss/src/bootstrap/_breadcrumbs.scss",
        "scss/src/bootstrap/_pagination.scss",
        "scss/src/bootstrap/_pager.scss",
        "scss/src/bootstrap/_labels.scss",
        "scss/src/bootstrap/_badges.scss",
        "scss/src/bootstrap/_jumbotron.scss",
        "scss/src/bootstrap/_thumbnails.scss",
        "scss/src/bootstrap/_alerts.scss",
        "scss/src/bootstrap/_progress-bars.scss",
        "scss/src/bootstrap/_media.scss",
        "scss/src/bootstrap/_list-group.scss",
        "scss/src/bootstrap/_panels.scss",
        "scss/src/bootstrap/_responsive-embed.scss",
        "scss/src/bootstrap/_wells.scss",
        "scss/src/bootstrap/_close.scss",
        "scss/src/bootstrap/_modals.scss",
        "scss/src/bootstrap/_tooltip.scss",
        "scss/src/bootstrap/_popovers.scss",
        "scss/src/bootstrap/_carousel.scss",
        "scss/src/bootstrap/_utilities.scss",
        "scss/src/bootstrap/_responsive-utilities.scss",
        "scss/src/bootstrap/mixins/_hide-text.scss",
        "scss/src/bootstrap/mixins/_opacity.scss",
        "scss/src/bootstrap/mixins/_image.scss",
        "scss/src/bootstrap/mixins/_labels.scss",
        "scss/src/bootstrap/mixins/_reset-filter.scss",
        "scss/src/bootstrap/mixins/_resize.scss",
        "scss/src/bootstrap/mixins/_responsive-visibility.scss",
        "scss/src/bootstrap/mixins/_size.scss",
        "scss/src/bootstrap/mixins/_tab-focus.scss",
        "scss/src/bootstrap/mixins/_reset-text.scss",
        "scss/src/bootstrap/mixins/_text-emphasis.scss",
        "scss/src/bootstrap/mixins/_text-overflow.scss",
        "scss/src/bootstrap/mixins/_vendor-prefixes.scss",
        "scss/src/bootstrap/mixins/_alerts.scss",
        "scss/src/bootstrap/mixins/_buttons.scss",
        "scss/src/bootstrap/mixins/_panels.scss",
        "scss/src/bootstrap/mixins/_pagination.scss",
        "scss/src/bootstrap/mixins/_list-group.scss",
        "scss/src/bootstrap/mixins/_nav-divider.scss",
        "scss/src/bootstrap/mixins/_forms.scss",
        "scss/src/bootstrap/mixins/_progress-bar.scss",
        "scss/src/bootstrap/mixins/_table-row.scss",
        "scss/src/bootstrap/mixins/_background-variant.scss",
        "scss/src/bootstrap/mixins/_border-radius.scss",
        "scss/src/bootstrap/mixins/_gradients.scss",
        "scss/src/bootstrap/mixins/_clearfix.scss",
        "scss/src/bootstrap/mixins/_center-block.scss",
        "scss/src/bootstrap/mixins/_nav-vertical-align.scss",
        "scss/src/bootstrap/mixins/_grid-framework.scss",
        "scss/src/bootstrap/mixins/_grid.scss"
      ]
    },
    {
      "path": "scss/src/bootstrap/_mixins.scss",
      "imports": [
        "scss/src/bootstrap/mixins/_hide-text.scss",
        "scss/src/bootstrap/mixins/_opacity.scss",
        "scss/src/bootstrap/mixins/_image.scss",
        "scss/src/bootstrap/mixins/_labels.scss",
        "scss/src/bootstrap/mixins/_reset-filter.scss",
        "scss/src/bootstrap/mixins/_resize.scss",
        "scss/src/bootstrap/mixins/_responsive-visibility.scss",
        "scss/src/bootstrap/mixins/_size.scss",
        "scss/src/bootstrap/mixins/_tab-focus.scss",
        "scss/src/bootstrap/mixins/_reset-text.scss",
        "scss/src/bootstrap/mixins/_text-emphasis.scss",
        "scss/src/bootstrap/mixins/_text-overflow.scss",
        "scss/src/bootstrap/mixins/_vendor-prefixes.scss",
        "scss/src/bootstrap/mixins/_alerts.scss",
        "scss/src/bootstrap/mixins/_buttons.scss",
        "scss/src/bootstrap/mixins/_panels.scss",
        "scss/src/bootstrap/mixins/_pagination.scss",
        "scss/src/bootstrap/mixins/_list-group.scss",
        "scss/src/bootstrap/mixins/_nav-divider.scss",
        "scss/src/bootstrap/mixins/_forms.scss",
        "scss/src/bootstrap/mixins/_progress-bar.scss",
        "scss/src/bootstrap/mixins/_table-row.scss",
        "scss/src/bootstrap/mixins/_background-variant.scss",
        "scss/src/bootstrap/mixins/_border-radius.scss",
        "scss/src/bootstrap/mixins/_gradients.scss",
        "scss/src/bootstrap/mixins/_clearfix.scss",
        "scss/src/bootstrap/mixins/_center-block.scss",
        "scss/src/bootstrap/mixins/_nav-vertical-align.scss",
        "scss/src/bootstrap/mixins/_grid-framework.scss",
        "scss/src/bootstrap/mixins/_grid.scss"
      ]
    },
    {
      "path": "scss/src/bootstrap/_theme.scss",
      "imports": [
        "scss/src/bootstrap/_variables.scss",
        "scss/src/bootstrap/_mixins.scss",
        "scss/src/bootstrap/mixins/_hide-text.scss",
        "scss/src/bootstrap/mixins/_opacity.scss",
        "scss/src/bootstrap/mixins/_image.scss",
        "scss/src/bootstrap/mixins/_labels.scss",
        "scss/src/bootstrap/mixins/_reset-filter.scss",
        "scss/src/bootstrap/mixins/_resize.scss",
        "scss/src/bootstrap/mixins/_responsive-visibility.scss",
        "scss/src/bootstrap/mixins/_size.scss",
        "scss/src/bootstrap/mixins/_tab-focus.scss",
        "scss/src/bootstrap/mixins/_reset-text.scss",
        "scss/src/bootstrap/mixins/_text-emphasis.scss",
        "scss/src/bootstrap/mixins/_text-overflow.scss",
        "scss/src/bootstrap/mixins/_vendor-prefixes.scss",
        "scss/src/bootstrap/mixins/_alerts.scss",
        "scss/src/bootstrap/mixins/_buttons.scss",
        "scss/src/bootstrap/mixins/_panels.scss",
        "scss/src/bootstrap/mixins/_pagination.scss",
        "scss/src/bootstrap/mixins/_list-group.scss",
        "scss/src/bootstrap/mixins/_nav-divider.scss",
        "scss/src/bootstrap/mixins/_forms.scss",
        "scss/src/bootstrap/mixins/_progress-bar.scss",
        "scss/src/bootstrap/mixins/_table-row.scss",
        "scss/src/bootstrap/mixins/_background-variant.scss",
        "scss/src/bootstrap/mixins/_border-radius.scss",
        "scss/src/bootstrap/mixins/_gradients.scss",
        "scss/src/bootstrap/mixins/_clearfix.scss",
        "scss/src/bootstrap/mixins/_center-block.scss",
        "scss/src/bootstrap/mixins/_nav-vertical-align.scss",
        "scss/src/bootstrap/mixins/_grid-framework.scss",
        "scss/src/bootstrap/mixins/_grid.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "html",
      "htm",
      "css",
      "rb",
      "php",
      "asp",
      "aspx",
      "cfm",
      "chm",
      "cms",
      "do",
      "erb",
      "jsp",
      "mhtml",
      "mspx",
      "pl",
      "py",
      "shtml",
      "cshtml",
      "cs",
      "vb",
      "vbs",
      "tpl",
      "ctp",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "json",
      "ts",
      "pug"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": true,
      "url": "http://furnistek.by"
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "/public_html/wp-content/themes/prosites_88/",
    "uploadTimeout": 20000,
    "uploadOnChange": true,
    "ftp": {
      "secure": false,
      "host": "vh43.hoster.by",
      "port": 21,
      "user": "furniste",
      "password": "yei5aeX1"
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "node_modules",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store"
    ],
    "history": [
      {
        "file": "404.php",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:31:08.000Z",
        "size": 164
      },
      {
        "file": "author.php",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:31:09.000Z",
        "size": 0
      },
      {
        "file": "category.php",
        "ctime": "2016-11-16T04:49:29.000Z",
        "mtime": "2016-11-16T04:49:29.000Z",
        "size": 2343
      },
      {
        "file": "comments.php",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:31:09.000Z",
        "size": 2314
      },
      {
        "file": "css/global.css",
        "ctime": "2016-11-16T04:55:24.000Z",
        "mtime": "2016-11-16T04:55:24.000Z",
        "size": 53850
      },
      {
        "file": "css/global.css.map",
        "ctime": "2016-11-16T04:55:24.000Z",
        "mtime": "2016-11-16T04:55:24.000Z",
        "size": 26423
      },
      {
        "file": "css/style.css",
        "ctime": "2016-11-16T04:59:22.000Z",
        "mtime": "2016-11-16T04:59:22.000Z",
        "size": 4657
      },
      {
        "file": "css/style.css.map",
        "ctime": "2016-11-16T04:59:22.000Z",
        "mtime": "2016-11-16T04:59:22.000Z",
        "size": 2912
      },
      {
        "file": "fonts/bootstrap/glyphicons-halflings-regular.eot",
        "ctime": "2016-10-26T16:44:38.000Z",
        "mtime": "2016-02-09T15:31:15.000Z",
        "size": 20127
      },
      {
        "file": "fonts/bootstrap/glyphicons-halflings-regular.svg",
        "ctime": "2016-10-26T16:44:38.000Z",
        "mtime": "2016-02-09T15:31:16.000Z",
        "size": 108738
      },
      {
        "file": "fonts/bootstrap/glyphicons-halflings-regular.ttf",
        "ctime": "2016-10-26T16:44:38.000Z",
        "mtime": "2016-02-09T15:31:16.000Z",
        "size": 45404
      },
      {
        "file": "fonts/bootstrap/glyphicons-halflings-regular.woff",
        "ctime": "2016-10-26T16:44:38.000Z",
        "mtime": "2016-02-09T15:31:17.000Z",
        "size": 23424
      },
      {
        "file": "fonts/bootstrap/glyphicons-halflings-regular.woff2",
        "ctime": "2016-10-26T16:44:38.000Z",
        "mtime": "2016-02-09T15:31:17.000Z",
        "size": 18028
      },
      {
        "file": "footer.php",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:31:10.000Z",
        "size": 1413
      },
      {
        "file": "functions.php",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-07-01T12:16:20.000Z",
        "size": 4416
      },
      {
        "file": "header.php",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:31:11.000Z",
        "size": 2771
      },
      {
        "file": "img/act.svg",
        "ctime": "2016-11-16T04:49:12.000Z",
        "mtime": "2016-11-15T07:37:06.000Z",
        "size": 2362
      },
      {
        "file": "img/bg-menu.jpg",
        "ctime": "2016-10-26T16:44:39.000Z",
        "mtime": "2016-02-09T15:31:18.000Z",
        "size": 4115
      },
      {
        "file": "img/bg-slider.jpg",
        "ctime": "2016-10-26T16:44:39.000Z",
        "mtime": "2016-02-09T15:31:18.000Z",
        "size": 67524
      },
      {
        "file": "img/bg-text.jpg",
        "ctime": "2016-10-26T16:44:39.000Z",
        "mtime": "2016-02-09T15:31:18.000Z",
        "size": 15220
      },
      {
        "file": "img/fancybox/blank.gif",
        "ctime": "2016-10-26T16:44:39.000Z",
        "mtime": "2016-02-09T15:31:22.000Z",
        "size": 43
      },
      {
        "file": "img/fancybox/fancybox_loading.gif",
        "ctime": "2016-10-26T16:44:39.000Z",
        "mtime": "2016-02-09T15:31:22.000Z",
        "size": 6567
      },
      {
        "file": "img/fancybox/fancybox_loading@2x.gif",
        "ctime": "2016-10-26T16:44:39.000Z",
        "mtime": "2016-02-09T15:31:23.000Z",
        "size": 13984
      },
      {
        "file": "img/fancybox/fancybox_loading_2x.gif",
        "ctime": "2016-10-26T16:44:39.000Z",
        "mtime": "2016-02-09T15:31:25.000Z",
        "size": 13984
      },
      {
        "file": "img/fancybox/fancybox_overlay.png",
        "ctime": "2016-10-26T16:44:39.000Z",
        "mtime": "2016-02-09T15:31:25.000Z",
        "size": 112
      },
      {
        "file": "img/fancybox/fancybox_sprite.png",
        "ctime": "2016-10-26T16:44:39.000Z",
        "mtime": "2016-02-09T15:31:27.000Z",
        "size": 1472
      },
      {
        "file": "img/fancybox/fancybox_sprite@2x.png",
        "ctime": "2016-10-26T16:44:39.000Z",
        "mtime": "2016-02-09T15:31:27.000Z",
        "size": 6023
      },
      {
        "file": "img/fancybox/fancybox_sprite_2x.png",
        "ctime": "2016-10-26T16:44:39.000Z",
        "mtime": "2016-02-09T15:31:27.000Z",
        "size": 6023
      },
      {
        "file": "img/favicon.png",
        "ctime": "2016-10-26T16:44:39.000Z",
        "mtime": "2016-02-09T15:31:19.000Z",
        "size": 2074
      },
      {
        "file": "img/logo-prosites.jpg",
        "ctime": "2016-10-26T16:44:39.000Z",
        "mtime": "2016-02-09T15:31:19.000Z",
        "size": 5517
      },
      {
        "file": "img/logo.png",
        "ctime": "2016-10-26T16:44:39.000Z",
        "mtime": "2016-02-09T15:31:19.000Z",
        "size": 4284
      },
      {
        "file": "img/menu1.png",
        "ctime": "2016-10-26T16:44:39.000Z",
        "mtime": "2016-02-09T15:31:21.000Z",
        "size": 1211
      },
      {
        "file": "img/menu2.png",
        "ctime": "2016-10-26T16:44:39.000Z",
        "mtime": "2016-02-09T15:31:20.000Z",
        "size": 784
      },
      {
        "file": "img/menu3.png",
        "ctime": "2016-10-26T16:44:39.000Z",
        "mtime": "2016-02-09T15:31:20.000Z",
        "size": 1357
      },
      {
        "file": "img/menu4.png",
        "ctime": "2016-10-26T16:44:39.000Z",
        "mtime": "2016-02-09T15:31:21.000Z",
        "size": 898
      },
      {
        "file": "img/search.png",
        "ctime": "2016-10-26T16:44:39.000Z",
        "mtime": "2016-02-09T15:31:21.000Z",
        "size": 700
      },
      {
        "file": "index.php",
        "ctime": "2016-11-16T04:57:19.000Z",
        "mtime": "2016-11-16T04:57:19.000Z",
        "size": 3463
      },
      {
        "file": "js/jquery-2.1.4.js",
        "ctime": "2016-10-26T16:44:40.000Z",
        "mtime": "2016-02-09T15:31:28.000Z",
        "size": 247597
      },
      {
        "file": "js/jquery.fancybox.js",
        "ctime": "2016-10-26T16:44:39.000Z",
        "mtime": "2016-02-09T15:31:28.000Z",
        "size": 48706
      },
      {
        "file": "js/jquery.navgoco.js",
        "ctime": "2016-10-26T16:44:39.000Z",
        "mtime": "2016-02-09T15:31:29.000Z",
        "size": 8551
      },
      {
        "file": "js/min/jquery-2.1.4-min.js",
        "ctime": "2016-10-26T16:44:39.000Z",
        "mtime": "2016-02-09T15:31:30.000Z",
        "size": 84215
      },
      {
        "file": "js/min/jquery.fancybox-min.js",
        "ctime": "2016-10-26T16:44:39.000Z",
        "mtime": "2016-02-09T15:31:31.000Z",
        "size": 22990
      },
      {
        "file": "js/min/jquery.navgoco-min.js",
        "ctime": "2016-10-26T16:44:39.000Z",
        "mtime": "2016-02-09T15:31:31.000Z",
        "size": 3311
      },
      {
        "file": "js/min/script-min.js",
        "ctime": "2016-10-26T16:44:39.000Z",
        "mtime": "2016-02-09T15:31:31.000Z",
        "size": 1935
      },
      {
        "file": "js/min/slick-min.js",
        "ctime": "2016-10-26T16:44:39.000Z",
        "mtime": "2016-02-09T15:31:32.000Z",
        "size": 39682
      },
      {
        "file": "js/script.js",
        "ctime": "2016-10-26T16:44:39.000Z",
        "mtime": "2016-02-09T15:31:29.000Z",
        "size": 2715
      },
      {
        "file": "js/slick.js",
        "ctime": "2016-10-26T16:44:40.000Z",
        "mtime": "2016-02-09T15:31:30.000Z",
        "size": 79234
      },
      {
        "file": "js/src/bootstrap/affix.js",
        "ctime": "2016-10-26T16:44:39.000Z",
        "mtime": "2016-02-09T15:31:32.000Z",
        "size": 4838
      },
      {
        "file": "js/src/bootstrap/alert.js",
        "ctime": "2016-10-26T16:44:39.000Z",
        "mtime": "2016-02-09T15:31:33.000Z",
        "size": 2260
      },
      {
        "file": "js/src/bootstrap/button.js",
        "ctime": "2016-10-26T16:44:39.000Z",
        "mtime": "2016-02-09T15:31:33.000Z",
        "size": 3546
      },
      {
        "file": "js/src/bootstrap/carousel.js",
        "ctime": "2016-10-26T16:44:39.000Z",
        "mtime": "2016-02-09T15:31:33.000Z",
        "size": 7141
      },
      {
        "file": "js/src/bootstrap/collapse.js",
        "ctime": "2016-10-26T16:44:39.000Z",
        "mtime": "2016-02-09T15:31:34.000Z",
        "size": 5963
      },
      {
        "file": "js/src/bootstrap/dropdown.js",
        "ctime": "2016-10-26T16:44:40.000Z",
        "mtime": "2016-02-09T15:31:34.000Z",
        "size": 4725
      },
      {
        "file": "js/src/bootstrap/modal.js",
        "ctime": "2016-10-26T16:44:39.000Z",
        "mtime": "2016-02-09T15:31:35.000Z",
        "size": 9938
      },
      {
        "file": "js/src/bootstrap/popover.js",
        "ctime": "2016-10-26T16:44:39.000Z",
        "mtime": "2016-02-09T15:31:35.000Z",
        "size": 3163
      },
      {
        "file": "js/src/bootstrap/scrollspy.js",
        "ctime": "2016-10-26T16:44:39.000Z",
        "mtime": "2016-02-09T15:31:36.000Z",
        "size": 4707
      },
      {
        "file": "js/src/bootstrap/tab.js",
        "ctime": "2016-10-26T16:44:40.000Z",
        "mtime": "2016-02-09T15:31:36.000Z",
        "size": 3905
      },
      {
        "file": "js/src/bootstrap/tooltip.js",
        "ctime": "2016-10-26T16:44:39.000Z",
        "mtime": "2016-02-09T15:31:37.000Z",
        "size": 16345
      },
      {
        "file": "js/src/bootstrap/transition.js",
        "ctime": "2016-10-26T16:44:40.000Z",
        "mtime": "2016-02-09T15:31:37.000Z",
        "size": 1831
      },
      {
        "file": "page.php",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:31:11.000Z",
        "size": 492
      },
      {
        "file": "prepros.cfg",
        "ctime": "2016-10-28T05:06:30.000Z",
        "mtime": "2016-10-28T05:06:30.000Z",
        "size": 78431
      },
      {
        "file": "screenshot.png",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:31:12.000Z",
        "size": 15784
      },
      {
        "file": "scss/global.scss",
        "ctime": "2016-11-16T04:55:24.000Z",
        "mtime": "2016-11-16T04:55:24.000Z",
        "size": 1500
      },
      {
        "file": "scss/modules/_vertical-menu.scss",
        "ctime": "2016-10-26T16:44:41.000Z",
        "mtime": "2016-02-09T15:31:38.000Z",
        "size": 2144
      },
      {
        "file": "scss/src/_bootstrap.scss",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:31:39.000Z",
        "size": 1397
      },
      {
        "file": "scss/src/_jquery.fancybox.scss",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:31:39.000Z",
        "size": 4991
      },
      {
        "file": "scss/src/_slick.scss",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:31:40.000Z",
        "size": 1741
      },
      {
        "file": "scss/src/_var.scss",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:31:40.000Z",
        "size": 12
      },
      {
        "file": "scss/src/_wordpress.scss",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:31:41.000Z",
        "size": 889
      },
      {
        "file": "scss/src/bootstrap/_alerts.scss",
        "ctime": "2016-10-26T16:44:42.000Z",
        "mtime": "2016-02-09T15:31:42.000Z",
        "size": 1550
      },
      {
        "file": "scss/src/bootstrap/_badges.scss",
        "ctime": "2016-10-26T16:44:41.000Z",
        "mtime": "2016-02-09T15:31:41.000Z",
        "size": 1228
      },
      {
        "file": "scss/src/bootstrap/_breadcrumbs.scss",
        "ctime": "2016-10-26T16:44:42.000Z",
        "mtime": "2016-02-09T15:31:43.000Z",
        "size": 595
      },
      {
        "file": "scss/src/bootstrap/_button-groups.scss",
        "ctime": "2016-10-26T16:44:42.000Z",
        "mtime": "2016-02-09T15:31:43.000Z",
        "size": 5737
      },
      {
        "file": "scss/src/bootstrap/_buttons.scss",
        "ctime": "2016-10-26T16:44:41.000Z",
        "mtime": "2016-02-09T15:31:44.000Z",
        "size": 3819
      },
      {
        "file": "scss/src/bootstrap/_carousel.scss",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:31:44.000Z",
        "size": 5481
      },
      {
        "file": "scss/src/bootstrap/_close.scss",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:31:45.000Z",
        "size": 815
      },
      {
        "file": "scss/src/bootstrap/_code.scss",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:31:45.000Z",
        "size": 1401
      },
      {
        "file": "scss/src/bootstrap/_component-animations.scss",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:31:46.000Z",
        "size": 819
      },
      {
        "file": "scss/src/bootstrap/_dropdowns.scss",
        "ctime": "2016-10-26T16:44:41.000Z",
        "mtime": "2016-02-09T15:31:46.000Z",
        "size": 4889
      },
      {
        "file": "scss/src/bootstrap/_forms.scss",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:31:47.000Z",
        "size": 16080
      },
      {
        "file": "scss/src/bootstrap/_glyphicons.scss",
        "ctime": "2016-10-26T16:44:42.000Z",
        "mtime": "2016-02-09T15:31:47.000Z",
        "size": 20444
      },
      {
        "file": "scss/src/bootstrap/_grid.scss",
        "ctime": "2016-10-26T16:44:41.000Z",
        "mtime": "2016-02-09T15:31:47.000Z",
        "size": 1443
      },
      {
        "file": "scss/src/bootstrap/_input-groups.scss",
        "ctime": "2016-10-26T16:44:41.000Z",
        "mtime": "2016-02-09T15:31:48.000Z",
        "size": 4261
      },
      {
        "file": "scss/src/bootstrap/_jumbotron.scss",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:31:48.000Z",
        "size": 1062
      },
      {
        "file": "scss/src/bootstrap/_labels.scss",
        "ctime": "2016-10-26T16:44:42.000Z",
        "mtime": "2016-02-09T15:31:49.000Z",
        "size": 1156
      },
      {
        "file": "scss/src/bootstrap/_list-group.scss",
        "ctime": "2016-10-26T16:44:41.000Z",
        "mtime": "2016-02-09T15:31:49.000Z",
        "size": 3172
      },
      {
        "file": "scss/src/bootstrap/_media.scss",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:31:50.000Z",
        "size": 900
      },
      {
        "file": "scss/src/bootstrap/_mixins.scss",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:31:50.000Z",
        "size": 986
      },
      {
        "file": "scss/src/bootstrap/_modals.scss",
        "ctime": "2016-10-26T16:44:42.000Z",
        "mtime": "2016-02-09T15:31:51.000Z",
        "size": 3612
      },
      {
        "file": "scss/src/bootstrap/_navbar.scss",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:31:52.000Z",
        "size": 14729
      },
      {
        "file": "scss/src/bootstrap/_navs.scss",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:31:51.000Z",
        "size": 4950
      },
      {
        "file": "scss/src/bootstrap/_normalize.scss",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:31:52.000Z",
        "size": 7559
      },
      {
        "file": "scss/src/bootstrap/_pager.scss",
        "ctime": "2016-10-26T16:44:42.000Z",
        "mtime": "2016-02-09T15:31:53.000Z",
        "size": 855
      },
      {
        "file": "scss/src/bootstrap/_pagination.scss",
        "ctime": "2016-10-26T16:44:42.000Z",
        "mtime": "2016-02-09T15:31:53.000Z",
        "size": 2091
      },
      {
        "file": "scss/src/bootstrap/_panels.scss",
        "ctime": "2016-10-26T16:44:42.000Z",
        "mtime": "2016-02-09T15:31:54.000Z",
        "size": 6385
      },
      {
        "file": "scss/src/bootstrap/_popovers.scss",
        "ctime": "2016-10-26T16:44:42.000Z",
        "mtime": "2016-02-09T15:31:54.000Z",
        "size": 3502
      },
      {
        "file": "scss/src/bootstrap/_print.scss",
        "ctime": "2016-10-26T16:44:42.000Z",
        "mtime": "2016-02-09T15:31:54.000Z",
        "size": 1939
      },
      {
        "file": "scss/src/bootstrap/_progress-bars.scss",
        "ctime": "2016-10-26T16:44:42.000Z",
        "mtime": "2016-02-09T15:31:55.000Z",
        "size": 1992
      },
      {
        "file": "scss/src/bootstrap/_responsive-embed.scss",
        "ctime": "2016-10-26T16:44:42.000Z",
        "mtime": "2016-02-09T15:31:55.000Z",
        "size": 546
      },
      {
        "file": "scss/src/bootstrap/_responsive-utilities.scss",
        "ctime": "2016-10-26T16:44:42.000Z",
        "mtime": "2016-02-09T15:31:56.000Z",
        "size": 4409
      },
      {
        "file": "scss/src/bootstrap/_scaffolding.scss",
        "ctime": "2016-10-26T16:44:42.000Z",
        "mtime": "2016-02-09T15:31:57.000Z",
        "size": 3032
      },
      {
        "file": "scss/src/bootstrap/_tables.scss",
        "ctime": "2016-10-26T16:44:42.000Z",
        "mtime": "2016-02-09T15:31:56.000Z",
        "size": 4662
      },
      {
        "file": "scss/src/bootstrap/_theme.scss",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:31:57.000Z",
        "size": 8558
      },
      {
        "file": "scss/src/bootstrap/_thumbnails.scss",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:31:58.000Z",
        "size": 892
      },
      {
        "file": "scss/src/bootstrap/_tooltip.scss",
        "ctime": "2016-10-26T16:44:42.000Z",
        "mtime": "2016-02-09T15:31:58.000Z",
        "size": 3007
      },
      {
        "file": "scss/src/bootstrap/_type.scss",
        "ctime": "2016-10-26T16:44:42.000Z",
        "mtime": "2016-02-09T15:31:59.000Z",
        "size": 6146
      },
      {
        "file": "scss/src/bootstrap/_utilities.scss",
        "ctime": "2016-10-26T16:44:41.000Z",
        "mtime": "2016-02-09T15:31:59.000Z",
        "size": 765
      },
      {
        "file": "scss/src/bootstrap/_variables.scss",
        "ctime": "2016-10-26T16:44:42.000Z",
        "mtime": "2016-02-09T15:32:00.000Z",
        "size": 31174
      },
      {
        "file": "scss/src/bootstrap/_wells.scss",
        "ctime": "2016-10-26T16:44:42.000Z",
        "mtime": "2016-02-09T15:32:00.000Z",
        "size": 535
      },
      {
        "file": "scss/src/bootstrap/mixins/_alerts.scss",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:32:00.000Z",
        "size": 263
      },
      {
        "file": "scss/src/bootstrap/mixins/_background-variant.scss",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:32:01.000Z",
        "size": 233
      },
      {
        "file": "scss/src/bootstrap/mixins/_border-radius.scss",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:32:01.000Z",
        "size": 492
      },
      {
        "file": "scss/src/bootstrap/mixins/_buttons.scss",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:32:02.000Z",
        "size": 1488
      },
      {
        "file": "scss/src/bootstrap/mixins/_center-block.scss",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:32:03.000Z",
        "size": 126
      },
      {
        "file": "scss/src/bootstrap/mixins/_clearfix.scss",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:32:03.000Z",
        "size": 611
      },
      {
        "file": "scss/src/bootstrap/mixins/_forms.scss",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:32:04.000Z",
        "size": 2771
      },
      {
        "file": "scss/src/bootstrap/mixins/_gradients.scss",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:32:04.000Z",
        "size": 4392
      },
      {
        "file": "scss/src/bootstrap/mixins/_grid-framework.scss",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:32:05.000Z",
        "size": 2360
      },
      {
        "file": "scss/src/bootstrap/mixins/_grid.scss",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:32:05.000Z",
        "size": 3203
      },
      {
        "file": "scss/src/bootstrap/mixins/_hide-text.scss",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:32:05.000Z",
        "size": 589
      },
      {
        "file": "scss/src/bootstrap/mixins/_image.scss",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:32:06.000Z",
        "size": 1208
      },
      {
        "file": "scss/src/bootstrap/mixins/_labels.scss",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:32:06.000Z",
        "size": 167
      },
      {
        "file": "scss/src/bootstrap/mixins/_list-group.scss",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:32:07.000Z",
        "size": 672
      },
      {
        "file": "scss/src/bootstrap/mixins/_nav-divider.scss",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:32:08.000Z",
        "size": 238
      },
      {
        "file": "scss/src/bootstrap/mixins/_nav-vertical-align.scss",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:32:08.000Z",
        "size": 370
      },
      {
        "file": "scss/src/bootstrap/mixins/_opacity.scss",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:32:09.000Z",
        "size": 149
      },
      {
        "file": "scss/src/bootstrap/mixins/_pagination.scss",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:32:09.000Z",
        "size": 507
      },
      {
        "file": "scss/src/bootstrap/mixins/_panels.scss",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:32:09.000Z",
        "size": 543
      },
      {
        "file": "scss/src/bootstrap/mixins/_progress-bar.scss",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:32:10.000Z",
        "size": 200
      },
      {
        "file": "scss/src/bootstrap/mixins/_reset-filter.scss",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:32:10.000Z",
        "size": 246
      },
      {
        "file": "scss/src/bootstrap/mixins/_reset-text.scss",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:32:11.000Z",
        "size": 476
      },
      {
        "file": "scss/src/bootstrap/mixins/_resize.scss",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:32:12.000Z",
        "size": 202
      },
      {
        "file": "scss/src/bootstrap/mixins/_responsive-visibility.scss",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:32:11.000Z",
        "size": 514
      },
      {
        "file": "scss/src/bootstrap/mixins/_size.scss",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:32:12.000Z",
        "size": 147
      },
      {
        "file": "scss/src/bootstrap/mixins/_tab-focus.scss",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:32:13.000Z",
        "size": 165
      },
      {
        "file": "scss/src/bootstrap/mixins/_table-row.scss",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:32:13.000Z",
        "size": 715
      },
      {
        "file": "scss/src/bootstrap/mixins/_text-emphasis.scss",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:32:14.000Z",
        "size": 210
      },
      {
        "file": "scss/src/bootstrap/mixins/_text-overflow.scss",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:32:14.000Z",
        "size": 168
      },
      {
        "file": "scss/src/bootstrap/mixins/_vendor-prefixes.scss",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:32:14.000Z",
        "size": 6642
      },
      {
        "file": "scss/style.scss",
        "ctime": "2016-11-16T04:59:21.000Z",
        "mtime": "2016-11-16T04:59:21.000Z",
        "size": 5672
      },
      {
        "file": "search.php",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:31:12.000Z",
        "size": 1545
      },
      {
        "file": "searchform.php",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:31:12.000Z",
        "size": 422
      },
      {
        "file": "sidebar.php",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:31:13.000Z",
        "size": 225
      },
      {
        "file": "single.php",
        "ctime": "2016-11-16T04:55:10.000Z",
        "mtime": "2016-11-16T04:55:10.000Z",
        "size": 2627
      },
      {
        "file": "style.css",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:31:14.000Z",
        "size": 137
      },
      {
        "file": "tag.php",
        "ctime": "2016-10-26T16:44:43.000Z",
        "mtime": "2016-02-09T15:31:14.000Z",
        "size": 0
      },
      {
        "file": ".git/FETCH_HEAD",
        "ctime": "2016-11-16T05:40:22.000Z",
        "mtime": "2016-11-16T05:40:22.000Z",
        "size": 100
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"sourceMap\":true,\"compiler-node-sass\":{\"outputStyle\":\"compact\"},\"compiler-minify-css\":{\"enabled\":true},\"compiler-ruby-sass\":{\"outputStyle\":\"compact\"}}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 3 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"],\"output\":{\"relative\":\"dist\"}}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}